In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import vaex
import pytz
from timeit import default_timer as timer
from typing import Optional, List
import os

import lib.process_gpx_data as process_gpx

In [2]:
path = "/home/joaoantoniocardoso/ZeniteSolar/2022/Strategy22/datasets/strava/"
gps_files = [
    path + "17_03_2022_Prova_Manh_Classifica_o_Match_Race.gpx",
    path + "17_03_2022_Prova_Tarde_Match_Race_1.gpx",
    path + "17_03_2022_Prova_Tarde_Match_Race_2.gpx",
    path + "18_03_2022_Prova_Longa.gpx",
]
gps_output_file = path + "gps_data.csv"

df = process_gpx.process_gpx(gps_files, gps_output_file, "America/Sao_Paulo")

timestamp dtype before: datetime64[ns, SimpleTZ("Z")]
timestamp dtype after: datetime64[ns, America/Sao_Paulo]
timestamp dtype before: datetime64[ns, SimpleTZ("Z")]
timestamp dtype after: datetime64[ns, America/Sao_Paulo]
timestamp dtype before: datetime64[ns, SimpleTZ("Z")]
timestamp dtype after: datetime64[ns, America/Sao_Paulo]
timestamp dtype before: datetime64[ns, SimpleTZ("Z")]
timestamp dtype after: datetime64[ns, America/Sao_Paulo]

In [3]:
df

,latitude,longitude,altitude,speed,heading,distance
timestamp,,,,,,
2022-03-17 12:22:24-03:00,-22.922642,-43.095107,67.0,0.368691,90.000000,0.000102
2022-03-17 12:22:25-03:00,-22.922642,-43.095107,67.0,0.000000,360.000000,0.000102
2022-03-17 12:22:26-03:00,-22.922642,-43.095107,67.0,0.000000,360.000000,0.000102
2022-03-17 12:22:27-03:00,-22.922642,-43.095108,67.0,0.368691,90.000000,0.000205
2022-03-17 12:22:28-03:00,-22.922643,-43.095108,67.0,0.400302,360.000000,0.000316
...,...,...,...,...,...,...
2022-03-18 20:37:24-03:00,-22.922295,-43.095533,10.0,0.544220,80.647214,29.752700
2022-03-18 20:37:25-03:00,-22.922295,-43.095534,10.0,0.368691,90.000000,29.752802
2022-03-18 20:37:26-03:00,-22.922295,-43.095536,10.0,0.737383,90.000000,29.753007
2022-03-18 20:37:27-03:00,-22.922296,-43.095538,10.0,0.839032,85.292246,29.753240
2022-03-18 20:37:28-03:00,-22.922297,-43.095540,10.0,0.839032,85.292245,29.753473